<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../CSS/style.css"
</head>
<body>
    <header class="header">
        <h1>Portafolio</ssh1>

    <nav class="nav">
        <a href="#"><i class="ri-home-4-line"></i> Inicio</a>
        <a href="#"><i class="ri-user-line"></i> Sobre mí</a>
        <a href="#"><i class="ri-code-s-slash-line"></i> Proyectos</a>
        <a href="#"><i class="ri-mail-line"></i> Contacto</a>
    </nav>

    </header>

    <p>Bienvenidos a la mejor pagina web del mundo y del universo, esto esta supervisado por una estatura promedio de chile llamada silmana, así que ella puede confirmarles que todas las mentiras que dice aquí son ciertas.</p>
    <p>👍 (Verificación) ✅</p> <a href="https://www.roblox.com/es/users/460762282/profile">Silmana_Slime</a>
</body>
</html>