<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../node_modules/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">Deivid
            <span>Patiño</span>
        </h1>

    <nav class="nav">
        <a href="#">Inicio</a>
        <a href="#">Sobre mí</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
    </header>

    <!--Sección Inicio--> 

    <section class="inicio" id="inicio">
        <div class="inicio-contenido">
            <h1>Hola, soy Deivid <span>Patiño</span></h1>
            <h3 class="animacion-texto">Estudiante de <span>Tecnología en Desarrollo de Sistemas de Información y de Software</span> 
                ultimo semestre.</h3>

            <div class="social-iconos">
                <a href="https://github.com/DeividPatino"><i class="ri-github-fill"></i></a>
            </div>
        </div>

        <div class="inicio-imagen">
            <img src="../Assets/perfil.jpg" alt="Imagen de perfil">
            
    </section>
</body>
</html>