<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">Deivid
            <span>Patiño</span>
        </h1>

    <nav class="nav">
        <a href="#">Inicio</a>
        <a href="#">Sobre mí</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
    </header>

    /* Sección de inicio */

    <section>
        <h1>Hola, soy Deivid Patiño</h1>
    </section>
</body>
</html>